@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .snap-smooth {
    scroll-behavior: smooth;
  }
  .snap-px-4 {
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
	background-image: url(/NK_Knightsbridge_BG_Version_2.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
	height: 50%;
  background-position: center;
  background-size: cover;

  animation: animatedBackground 300s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

* {
  font-variant-ligatures: none;
  
}

html {
  scroll-padding-top: 10rem;
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

